*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
}

/* ------------------------------------HEADER--------------------------------- */

/* Kabuuang header */
header {
    background-color: white;
    padding: 10px;
    color: #444141;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Layout ng container nung navigations */
nav {
    display: flex;
    align-items: center;
}
/* Design ng mga navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
/* Distance ng bawat navigations */
nav li {
    margin-right: 35px;
    font-size: 14px;
    transition: 0.4s;
}
/* Design kapag naka-point yung mouse sa bawat navigations (About me, etc.) */
nav li:hover {
    margin-top: 20px;
}
/* Design ng anchors */
nav a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
/* Animation kapag pinindot */
nav a:hover {
    transform: scale(1.1);
    font-weight: bolder;
    color: white;
    background-color: rgb(215, 148, 61);
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
/* Layout ng logo ko */
.header-my-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px transparent;
    overflow: hidden;
    margin-left: 10px;
}
/* Layout ng mismong image ng logo ko */
.header-my-picture img {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.5s;
}
/* Animation kapag naka-point yung mouse sa logo */
.header-my-picture img:hover {
    transform: scale(1.2);
}
/* Layout ng logo name ko */
.header-my-name a {
    position: absolute;
    top: 25px;
    left: 80px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}
/* Animation kapag naka-point yung mouse sa logo name */
.header-my-name a:hover {
    transition: 0.4s;
    color: rgb(215, 148, 61);
}


/* ------------------------------------BODY--------------------------------- */
@keyframes fade-inout {
    100% {opacity: 1;}
    0% {opacity: 0;}
}
main {
    animation: fade-inout 2.5s normal;
}

.career-introduction {
    display: flex;
    margin-top: 60px;
}
.career-introduction img {
    height: 500px;
    width: 440px;
    margin: 0px 150px;
}
.introduction-career {
    position: relative;
    display: grid;
    align-content: center;
    left: 100px;
    width: 500px;
}
.introduction-career h3{
    font-size: 50px;
    font-family: light, sans-serif;
    font-weight: lighter;
    margin-bottom: 40px;
}
.introduction-career p{
    font-family: light, sans-serif;
    font-weight: lighter;
}

.explanation h3 {
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(229, 229, 229);
}
.explanation-p {
    width: 400px;
    text-align: justify;
}
.explanation-p-p {
    width: 420px;
    text-align: justify;
}
/* WEB DEVELOPER */
.web-designer-developer-container {
    display: flex;
    justify-content: space-between;

    margin-top: 80px;
    background-color: rgb(19, 74, 102);
}
.web-designer-developer-container img {
    height: 700px;
    width: 900px;
}
.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    color: white;
}

/* GAME DEVELOPER */
.game-developer-container {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 100px;
    background-color: cornflowerblue;
}
.game-developer-container img {
    height: 700px;
    width: 900px;
}

/* ------------------------------------FOOTER--------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 214);
    position: absolute;
    top: 2300px;
    height: 60px;
    width: 1519px;
}
footer img {
    margin-right: 5px;
    height: 20px;
}