*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
}

/* ------------------------------------HEADER--------------------------------- */

/* Kabuuang header */
header {
    background-color: rgb(18, 22, 36);
    padding: 10px;
    color: #444141;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Layout ng container nung navigations */
nav {
    display: flex;
    align-items: center;
}
/* Design ng mga navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
/* Distance ng bawat navigations */
nav li {
    margin-right: 35px;
    font-size: 14px;
    transition: 0.4s;
}
/* Design kapag naka-point yung mouse sa bawat navigations (About me, etc.) */
nav li:hover {
    margin-top: 20px;
}
/* Design ng anchors */
nav a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
/* Animation kapag pinindot */
nav a:hover {
    transform: scale(1.1);
    font-weight: bolder;
    color: black;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
/* Layout ng logo ko */
.header-my-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px transparent;
    overflow: hidden;
    margin-left: 10px;
}
/* Layout ng mismong image ng logo ko */
.header-my-picture img {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.5s;
}
/* Animation kapag naka-point yung mouse sa logo */
.header-my-picture img:hover {
    transform: scale(1.2);
}
/* Layout ng logo name ko */
.header-my-name a {
    position: absolute;
    top: 25px;
    left: 80px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}
/* Animation kapag naka-point yung mouse sa logo name */
.header-my-name a:hover {
    transition: 0.4s;
    color: rgb(215, 148, 61);
}

/* ------------------------------------BODY--------------------------------- */

@keyframes fade-inout {
    100% {opacity: 1;}
    0% {opacity: 0;}
}
main {
    animation: fade-inout 2.5s normal;
}
main p {
    width: 220px;
    text-align: justify;
}
/* INTRODUCTION PART */
.s-w-introduction {
    background-image: url(Pictures/Information_Technology);
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.introduction h6 {
    z-index: 1;
    font-family: light;
}
.introduction h3 {
    z-index: 1;
    font-family: light;
}
.bg-color {
    position: absolute;
    background-color: #858282;
    height: 350px;
    width: 900px;
    left: 300px;
    padding: 20px 10px;
    opacity: 50%;
    border-radius: 10px 10px 10px 10px;
}

main img {
    height: 50px; 
    margin-top: 30px;
    margin-bottom: 20px;
}
article {
    height: 400px;
    width: 280px;
    text-align: center;
}
.strength-list h5 {
    font-size: 20px;
}
.strength-list p {
    margin-top: 20px;
}
.weaknesses-list h5 {
    font-size: 20px;
}
.weaknesses-list p {
    margin-top: 20px;
}
/* STRENGTH */
.strength-container-main {
    margin-top: 50px;
}
.strength-h3 {
    display: flex;
    justify-content: center;

    padding: 30px 30px;
}
.strength-h3 h3 {
    font-size: 40px;
}

/*  */
.strength-list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
    height: 500px;

}
.strength-list article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.2),
                15px 15px 15px rgba(0,0,0,0.1),
                inset -10px -10px 10px rgba(255,255,255,0.2),
                inset 15px 15px 15px rgba(0,0,0,0.1);
}

/* WEAKNESSES */

.weaknesses-container-main {
    margin-top: 0px;
}
.weaknesses-h3 {
    display: flex;
    justify-content: center;

    padding: 30px 30px;
}
.weaknesses-h3 h3 {
    font-size: 40px;
}

/*  */
.weaknesses-list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 50px;
}
.weaknesses-list article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: -10px -10px 10px rgba(255,255,255,0.2),
                15px 15px 15px rgba(0,0,0,0.1),
                inset -10px -10px 10px rgba(255,255,255,0.2),
                inset 15px 15px 15px rgba(0,0,0,0.1);
}
/* ------------------------------------FOOTER--------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 245, 214);
    position: absolute;
    top: 2200px;
    height: 60px;
    width: 1519px;
}
footer img {
    margin-right: 5px;
    height: 20px;
}